*{
  box-sizing: border-box;
}

body,
html{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer{
  padding: 1rem;
  color: blue;
  justify-content: center;
  text-align: center;
}